#frame {
  --tabsSize: 2em;
  --mainSize: calc(100vh - var(--tabsSize));
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  #tabs {
    height: var(--tabsSize);
    text-align: center;

    & p {
      text-decoration: underline;
      margin: 0.25em 0 0;
      font-size: 1.5em;
    }
  }

  #main {
    height: var(--mainSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}